---
Language: Cpp
BasedOnStyle: WebKit
SpaceAfterTemplateKeyword: false
AlignEscapedNewlines: Left
AlignTrailingComments: true
AlignConsecutiveBitFields: AcrossComments
BreakConstructorInitializers: AfterColon
IndentPPDirectives: AfterHash
BreakBeforeBraces: Allman
NamespaceIndentation: None